#Ignore DEMS folder (due to unauthorized)
#/DEMS

#Ignore VTU files (due to size)
*.vtu

#Ignore personal folders
/overig/
/writing/
/lit/
/oude codes, versies, functions, subroutines/ 
/backup/
/copy*/

# Ignore .swp 
*.swp

# Ignore __pycache__
**/__pycache__


# Ignore results that contain untested or unauthorized data 
#/path_results/
#/flanksim_parameters/
#/zero_topo/
/tests/
**/other

# Ignore admin files
push_changes.sh
figures.sh
