#Ignore DEMS folder (due to unauthorized)
#/DEMS

#Ignore VTU files (due to size, and copyright issues)
*.vtu

#Ignore personal folders
/other/
/writing/
/lit/
/backup/
/copy*/
/publication/
/ppigrf/
/field_inversions_tests/
/MTE_server/
.DS_Store
*/.DS_Store

# Ignore .swp 
*.swp

# Ignore __pycache__
**/__pycache__


# Ignore results that contain untested or unauthorized data 
#/path_results/
#/flanksim_parameters/
#/zero_topo/
/results/
/manual/
/tests/
/path_results/correlation/
**/other
**/your-style-package/

# Ignore admin files
push_changes.sh
figures.sh

