.wy-nav-content {
    max-width: 80% !important;
}
.math {
    text-align: left;
}
.eqno {
    float: right;
}


.rst-content .code-block-caption  {
    text-align: left;
}
.wy-side-nav-search, .wy-nav-top {
    background: #0b750a;
}
.underline {
  text-decoration: underline;
}
